<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>HALAMB</display-name>
	<servlet>
		<description>
		</description>
		<display-name>CREATE_ACCOUNT</display-name>
		<servlet-name>CREATE_ACCOUNT</servlet-name>
		<servlet-class>com.HALAMB.CREATE_ACCOUNT</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LOGIN_ACCOUNT</display-name>
		<servlet-name>LOGIN_ACCOUNT</servlet-name>
		<servlet-class>com.HALAMB.LOGIN_ACCOUNT</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>logedPage</display-name>
		<servlet-name>logedPage</servlet-name>
		<servlet-class>com.HALAMB.logedPage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ImageDownload</display-name>
		<servlet-name>ImageDownload</servlet-name>
		<servlet-class>com.HALAMB.ImageDownload</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Download</display-name>
		<servlet-name>Download</servlet-name>
		<servlet-class>com.HALAMB.Download</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UploadServlet</display-name>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.HALAMB.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Upload</display-name>
		<servlet-name>Upload</servlet-name>
		<servlet-class>com.HALAMB.Upload</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>user_upload_images</display-name>
		<servlet-name>user_upload_images</servlet-name>
		<servlet-class>com.HALAMB.user_upload_images</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Comment</display-name>
		<servlet-name>Comment</servlet-name>
		<servlet-class>com.HALAMB.Comment</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Upload_Profile_pic</display-name>
		<servlet-name>Upload_Profile_pic</servlet-name>
		<servlet-class>com.HALAMB.Upload_Profile_pic</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.HALAMB.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Delete_Comment</display-name>
		<servlet-name>Delete_Comment</servlet-name>
		<servlet-class>com.HALAMB.Delete_Comment</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Default_Setting</display-name>
		<servlet-name>Default_Setting</servlet-name>
		<servlet-class>com.HALAMB.Default_Setting</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>update_email</display-name>
		<servlet-name>update_email</servlet-name>
		<servlet-class>com.HALAMB.update_email</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>verify_email</display-name>
		<servlet-name>verify_email</servlet-name>
		<servlet-class>com.HALAMB.verify_email</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Accounts</display-name>
		<servlet-name>Accounts</servlet-name>
		<servlet-class>com.HALAMB.Accounts</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>managefavorites</display-name>
		<servlet-name>managefavorites</servlet-name>
		<servlet-class>com.HALAMB.managefavorates</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ManageFavrates</display-name>
		<servlet-name>ManageFavrates</servlet-name>
		<servlet-class>com.HALAMB.ManageFavrates</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CREATE_ACCOUNT</servlet-name>
		<url-pattern>/CREATE_ACCOUNT</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LOGIN_ACCOUNT</servlet-name>
		<url-pattern>/LOGIN_ACCOUNT</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logedPage</servlet-name>
		<url-pattern>/logedPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageDownload</servlet-name>
		<url-pattern>/ImageDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/Download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/Upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>user_upload_images</servlet-name>
		<url-pattern>/user_upload_images</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Comment</servlet-name>
		<url-pattern>/Comment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Upload_Profile_pic</servlet-name>
		<url-pattern>/Upload_Profile_pic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delete_Comment</servlet-name>
		<url-pattern>/Delete_Comment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Default_Setting</servlet-name>
		<url-pattern>/Default_Setting</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>update_email</servlet-name>
		<url-pattern>/update_email</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>verify_email</servlet-name>
		<url-pattern>/verify_email</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Accounts</servlet-name>
		<url-pattern>/Accounts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>managefavorites</servlet-name>
		<url-pattern>/managefavorites</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageFavrates</servlet-name>
		<url-pattern>/ManageFavrates</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
